<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zxingscanner">
  <application>
          <activity
            android:name=".ContinuousCaptureActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="true" />
    </application>

</manifest>
